
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success!</h2>

<p class="lead">The user account has been created. You can check out the list of users on the <a href="/Home/Admin">Admin Report</a> page.</p>